@import '../../../style/utils.scss';

.container {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    flex: 1;
    flex-wrap: wrap;
    @include flex(center, center, row);
}

.pagination {
    @include flex(flex-end, center, row);
    margin: 20px;
}

.emptyResult {
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: #333;
}